recuperacao-orcamento-whatsapp.json
{
  "name": "Recuperação Automática de Orçamentos - WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "b2c3d4e5-0001-4b1a-9002-000000000001",
      "name": "A cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-640, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, cliente, telefone, etapa_followup, ultimo_contato\nFROM orcamentos\nWHERE status = 'pendente';",
        "options": {}
      },
      "id": "b2c3d4e5-0002-4b1a-9002-000000000002",
      "name": "Buscar Orçamentos Pendentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-420, 200],
      "credentials": {
        "postgres": { "id": "REPLACE_POSTGRES_CRED", "name": "PostgreSQL - CRM" }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nconst now = Date.now();\nfor (const it of items) {\n  const r = it.json;\n  const ultimo = new Date(r.ultimo_contato).getTime();\n  const horas = (now - ultimo) / 3600000;\n  const etapa = Number(r.etapa_followup);\n  const nome = r.cliente || 'tudo bem';\n  let acao = null;\n  if (etapa === 0 && horas >= 1) {\n    acao = { nova_etapa: 1, novo_status: 'pendente', enviar: true,\n      mensagem: `Oi ${nome}! Te enviei o orçamento há pouco — chegou certinho? Qualquer dúvida sobre valores ou prazos, é só me chamar.` };\n  } else if (etapa === 1 && horas >= 24) {\n    acao = { nova_etapa: 2, novo_status: 'pendente', enviar: true,\n      mensagem: `Oi ${nome}, tudo bem? Passando para saber se você conseguiu analisar o orçamento. Posso ajustar alguma condição ou tirar dúvidas para facilitar a decisão?` };\n  } else if (etapa === 2 && horas >= 72) {\n    acao = { nova_etapa: 3, novo_status: 'pendente', enviar: true,\n      mensagem: `${nome}, vou deixar seu orçamento reservado por mais alguns dias. Se fizer sentido seguir, me avisa que garanto as condições atuais. Caso já tenha escolhido outro caminho, sem problema — fico à disposição.` };\n  } else if (etapa === 3 && horas >= 72) {\n    acao = { nova_etapa: 3, novo_status: 'perdido', enviar: false, mensagem: '' };\n  }\n  if (acao) {\n    out.push({ json: { id: r.id, telefone: r.telefone, cliente: nome, ...acao } });\n  }\n}\nreturn out;"
      },
      "id": "b2c3d4e5-0003-4b1a-9002-000000000003",
      "name": "Decidir Follow-up Devido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-enviar",
              "leftValue": "={{ $json.enviar }}",
              "rightValue": "true",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0004-4b1a-9002-000000000004",
      "name": "Deve Enviar Mensagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [20, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://SUA-EVOLUTION-API.com/message/sendText/SUA_INSTANCIA",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": \"{{ $json.mensagem }}\"\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0005-4b1a-9002-000000000005",
      "name": "Enviar Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 100],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_EVOLUTION_CRED", "name": "Evolution API - apikey" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orcamentos\nSET etapa_followup = {{ $json.nova_etapa }},\n    status = '{{ $json.novo_status }}',\n    ultimo_contato = NOW(),\n    atualizado_em = NOW()\nWHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "b2c3d4e5-0006-4b1a-9002-000000000006",
      "name": "Atualizar Etapa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 100],
      "credentials": {
        "postgres": { "id": "REPLACE_POSTGRES_CRED", "name": "PostgreSQL - CRM" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orcamentos\nSET status = 'perdido',\n    atualizado_em = NOW()\nWHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "b2c3d4e5-0007-4b1a-9002-000000000007",
      "name": "Marcar Como Perdido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 300],
      "credentials": {
        "postgres": { "id": "REPLACE_POSTGRES_CRED", "name": "PostgreSQL - CRM" }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo-orcamento",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2c3d4e5-0008-4b1a-9002-000000000008",
      "name": "Webhook - Registrar Orçamento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, 460],
      "webhookId": "novo-orcamento"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO orcamentos (cliente, telefone, descricao, valor, status, etapa_followup, enviado_em, ultimo_contato)\nVALUES ('{{ $json.body.cliente }}', '{{ $json.body.telefone }}', '{{ $json.body.descricao }}', {{ $json.body.valor }}, 'pendente', 0, NOW(), NOW());",
        "options": {}
      },
      "id": "b2c3d4e5-0009-4b1a-9002-000000000009",
      "name": "Inserir Orçamento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-420, 460],
      "credentials": {
        "postgres": { "id": "REPLACE_POSTGRES_CRED", "name": "PostgreSQL - CRM" }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orcamento-resposta",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2c3d4e5-0010-4b1a-9002-000000000010",
      "name": "Webhook - Cliente Respondeu",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, 660],
      "webhookId": "orcamento-resposta"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orcamentos\nSET status = 'respondido',\n    atualizado_em = NOW()\nWHERE telefone = '{{ $json.body.data.key.remoteJid.split('@')[0] }}'\n  AND status = 'pendente';",
        "options": {}
      },
      "id": "b2c3d4e5-0011-4b1a-9002-000000000011",
      "name": "Parar Follow-up (Respondido)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-420, 660],
      "credentials": {
        "postgres": { "id": "REPLACE_POSTGRES_CRED", "name": "PostgreSQL - CRM" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://SUA-EVOLUTION-API.com/message/sendText/SUA_INSTANCIA",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"55SEU_NUMERO_VENDEDOR\",\n  \"text\": \"💬 Um cliente respondeu a um orçamento pendente. Telefone: {{ $json.body.data.key.remoteJid.split('@')[0] }}. Assuma a conversa.\"\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0012-4b1a-9002-000000000012",
      "name": "Avisar Vendedor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 660],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_EVOLUTION_CRED", "name": "Evolution API - apikey" }
      }
    }
  ],
  "connections": {
    "A cada 1 hora": {
      "main": [[{ "node": "Buscar Orçamentos Pendentes", "type": "main", "index": 0 }]]
    },
    "Buscar Orçamentos Pendentes": {
      "main": [[{ "node": "Decidir Follow-up Devido", "type": "main", "index": 0 }]]
    },
    "Decidir Follow-up Devido": {
      "main": [[{ "node": "Deve Enviar Mensagem?", "type": "main", "index": 0 }]]
    },
    "Deve Enviar Mensagem?": {
      "main": [
        [{ "node": "Enviar Follow-up", "type": "main", "index": 0 }],
        [{ "node": "Marcar Como Perdido", "type": "main", "index": 0 }]
      ]
    },
    "Enviar Follow-up": {
      "main": [[{ "node": "Atualizar Etapa", "type": "main", "index": 0 }]]
    },
    "Webhook - Registrar Orçamento": {
      "main": [[{ "node": "Inserir Orçamento", "type": "main", "index": 0 }]]
    },
    "Webhook - Cliente Respondeu": {
      "main": [[{ "node": "Parar Follow-up (Respondido)", "type": "main", "index": 0 }]]
    },
    "Parar Follow-up (Respondido)": {
      "main": [[{ "node": "Avisar Vendedor", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "tags": [{ "name": "WhatsApp" }, { "name": "Follow-up" }, { "name": "Vendas" }]
}
